<div class="modal-header">
  <button class="close" type="button" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">RSVP</h4>
</div>
<div class="modal-body">
  <form name="rsvp" novalidate>
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" type="text" ng-value="models.name" ng-model="models.name" required>
    </div>
    <div class="form-group">
      <label class="radio-inline">
        <input type="radio" name="is_attending" ng-value="true" ng-model="models.is_attending"> Accepts
      </label>
      <label class="radio-inline">
        <input type="radio" name="is_attending" ng-value="false" ng-model="models.is_attending"> Declines
      </label>
    </div>
    <div class="form-group">
      <label>Number attending:</label>
      <input class="form-control" type="number" ng-value="models.num_attending" ng-model="models.num_attending"
             required>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Entreé selection</h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Steak:</label>
          <input class="form-control" type="number" ng-value="models.num_steak" ng-model="models.num_steak" required>
        </div>
        <div class="form-group">
          <label>Fish:</label>
          <input class="form-control" type="number" ng-value="models.num_fish" ng-model="models.num_fish" required>
        </div>
        <div class="form-group">
          <label>Vegetarian:</label>
          <input class="form-control" type="number" ng-value="models.num_vegetarian" ng-model="models.num_vegetarian"
                 required>
        </div>
        <div class="form-group">
          <label>Children's:</label>
          <input class="form-control" type="number" ng-value="models.num_children" ng-model="models.num_children"
                 required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="radio-inline">
        <input type="radio" name="is_brunch" ng-value="true" ng-model="models.is_brunch"> We will attend the Sunday
        breakfast
      </label>
      <label class="radio-inline">
        <input type="radio" name="is_brunch" ng-value="false" ng-model="models.is_brunch"> We will not attend the Sunday
        breakfast
      </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit" ng-click="ok()" ng-disabled="rsvp.$invalid">Send
    </button>
  </form>
</div>