<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h1 class="text-center mbl">Registry</h1>
    <p>
      <a href="https://www.amazon.com/registry/wedding/1FZ74KDET4A7M">
        <img class="img-responsive" src="/static/amazon-logo.jpg" alt="Amazon logo">
      </a>
    </p>
    <p>
      <a href="http://www.crateandbarrel.com/gift-registry/anne-donovan-and-jason-parent/r5474827">
        <img class="img-responsive" src="/static/crate-logo.jpg" alt="Crate and Barrel logo">
      </a>
    </p>
  </div>
</div>