<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <h1>The City</h1>
    <p>
      The Hotel Monaco is located in the heart of DC, where there is plenty to do. Some of our recommendations for the
      area are below.
    </p>
    <h2>Museums</h2>
    <p>
      The cultural offerings of Washington, DC are too vast to list here, but remember that Smithsonians are all
      completely FREE to visit. Here are some of our recommendations.
    </p>
    <h2>
      <a href="http://americanart.si.edu/">Smithsonian American Art Museum</a> and
      <a href="http://npg.si.edu/">National Portrait Gallery</a>
    </h2>
    <p>
      Directly across the street from the Hotel Monaco, the Smithsonian American Art Museum and National Portrait
      Gallery is convenient and an architectural stunner. Be sure to check out the courtyard connecting the two museum.
    </p>
    <h2><a href="http://renwick.americanart.si.edu/">The Renwick Gallery</a></h2>
    <p>
      Newly re-opened after renovations, the Renwick Gallery is a mile from the Hotel Monaco, and is located across the
      street from the White House. The Renwick Gallery exhibits the Smithsonian's American craft and decorative arts
      collections in a beautiful historic building.
    </p>
    <h2><a href="http://nmaahc.si.edu/">National Museum of African American History and Culture</a></h2>
    <p>
      The new National Museum of African American History and Culture should be open by the time of the wedding, making
      it the NEWEST Smithsonian in DC. Be one of the first visitors!
    </p>
    <h2>Performing Arts</h2>
    <p>
      There are many theatres in the neighborhood of the wedding.
    </p>
    <h2><a href="http://www.woollymammoth.net/">Woolly Mammoth Theatre</a></h2>
    <p>
      The Woolly Mammoth Theatre is home to innovative and contemporary theater. Check out their offerings!
    </p>
    <h2><a href="http://www.shakespearetheatre.org/">Shakespeare Theatre Company</a></h2>
    <p>
      On the other hand, the Shakespeare Theatre Company offers more traditional fare, Shakespeare and beyond!
    </p>
    <h2><a href="http://www.fords.org/">Ford's Theatre</a></h2>
    <p>
      Ford's Theatre continues to host performances and events, as well as
      <a href="http://www.fords.org/home/plan-your-visit/daytime-visits-fords-theatre">visits</a> documenting the
      assassination of Abraham Lincoln.
    </p>
    <h2>Shopping</h2>
    <p>
      DC has you covered for any shopping mood.
    </p>
    <h2>
      <a href="http://www.citycenterdc.com/">City Center DC</a>
    </h2>
    <p>
      The former site of the Washington Convention Center has been transformed into a high end shopping destination.
      With storefronts like Dior, Louis Vuitton, Kate Spade, Arc'Teryx, Burberry, Longchamps, Carolina Herrera, and
      more, this new development is great for window shopping or a splurge.
    </p>
    <h2>
      14th Street NW [between N Street NW and U Street NW]
    </h2>
    <p>
      The 14th Street Corridor has become one of the hottest DC destinations for shopping and dining. Check out spots
      like
      <a href="http://www.misspixies.com/">Miss Pixie's</a>, for vintage and quirky housewares,
      <a href="http://www.currentboutique.com/">Current Boutique</a> for women's like-new consignment,
      <a href="http://www.homerule.com/">Home Rule</a> for a DC take on home and kitchenware,
      <a href="https://www.filson.com/washington-dc-store">Filson</a> for men's and women's hipster-chic outdoorwear,
      <a href="http://www.shinola.com/shop/store/dc">Shinola Detroit</a> for watches and leather goods made in the USA.
    </p>
    <h2>
      Get Active
    </h2>
    <h2>
      Get on the water
    </h2>
    <p>
      Head down to the <a href="http://www.boatingindc.com/key-bridge-boathouse#.VpL4lhUrLIU">Key Bridge Boathouse</a>
      and rent a kayak or canoe to see DC from a new angle.
    </p>
    <h2>
      Head to urban nature
    </h2>
    <p>
      <a href="http://www.usna.usda.gov/">The National Arboretum</a> has miles of trails through curated gardens and
      landscapes. Explore the National Bonai and Penjing Museum, the National Herb Garden, Azalea Collections (including
      some that are sure to be still blooming), and more.
    </p>
    <h2>
      Get pedaling
    </h2>
    <p>
      If you are feeling extra adventuresome, DC has a very popular
      <a href="https://www.capitalbikeshare.com/">bicycle rental program</a> – bring your own helmet.
    </p>
  </div>
</div>