<div class="row">
  <div class="col-lg-12">

    <!-- Peter -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Best Man</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/peter.jpeg" alt="Peter and Jason">
        <h3 class="text-center">Stefan "Peter" Wawzyniecki</h3>
        <p>
          Peter and I met in elementary school in 1993 when my family moved to Vernon, CT. I had a rattail, which I'm
          sure had fallen out of fashion by then, and he had coke-bottle glasses. I think we became friends in the
          typical way that kids bond, meaning that I probably shared some candy with him. As we grew up, we were each a
          part of different social circles, activities, and classes, but somehow our friendship flourished. In high
          school, we would drive around in his station wagon, play video games, and hang out in his parents' basement.
          We both went to the same college and by then we were like brothers. We shared a room and slept in bunk beds.
          We had black lights and Pink Floyd posters on the wall.
        </p>
        <p>
          A decade has passed and Peter now lives in New Jersey with his family. That has not stopped us from talking
          frequently on the phone, visiting each other, and traveling together. Peter is a great guy with a big heart
          and I am thrilled to have him standing next to me as my best man.
        </p>
      </div>
    </div>

    <!-- Tommy -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomsman</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/tommy.jpeg" alt="Tommy and Jason">
        <h3 class="text-center">Jason "Tommy" Kennedy</h3>
        <p>
          Tommy and I met while playing in an adult kickball league in 2009. I had recently moved to DC and was
          desperately trying to expand my friend group. I thought that kickball was kind of dumb and only joined for the
          social aspect, yet Tommy was cheerful and friendly and did cartwheels across the field. Tommy and I bonded
          over conversation and flip cup. In those days, we partied until dark and then walked home eating pizza. I was
          really unhappy with my living situation at that point, and those times I spent with Tommy were more important
          to me than he probably knew. Tommy and I decided to get an apartment together and he convinced me to move to
          an up-and-coming part of the city, meaning that homeless people walked around the streets sometimes.
        </p>
        <p>
          Tommy and I spent several great years as roommates and then next door neighbors, and he now lives just across
          town with his partner, Eddie. We still meet every Wednesday for a group dinner. Tommy is a genuine friend and
          a true role model to me, and I am excited to have him as a groomsman.
        </p>
      </div>
    </div>

    <!-- Jim -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomsman</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/jim.jpg" alt="Jim and Jason">
        <h3 class="text-center">James Barna</h3>
        <p>
          Jim and I met through mutual friends in 2008. I broke the ice by telling him that he looked like a member of a
          boy band, and then I told him how difficult it was making guy friends in the city. Luckily for me, he decided
          not to walk away immediately and pretty soon we learned that we had a lot in common. We exchanged numbers and
          the next day I texted him to say I could not wait to see him again as if we had been on a date. Jim and I
          started hanging out frequently, which felt great because he had this way of making me feel like I was the most
          important person in the room.
        </p>
        <p>
          After years of living in DC, Jim moved back to New Jersey where he now lives with his wife, Ciara. Jim and I
          have traveled together across the U.S. and to Europe. He is effortlessly smooth and deeply intelligent, and I
          am proud to have him as a friend and as a groomsman.
        </p>
      </div>
    </div>

    <!-- Doug -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomsman</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/doug.jpg" alt="Doug and Jason">
        <h3 class="text-center">James "Doug" Fullam</h3>
        <p>
          Doug and I met during Spring semester of our freshman year of college in 2003. I walked by his room and he
          flashed a goofy smile, and I probably took that as a sign that he wanted to be my friend. I learned that Doug
          was a great conversationalist and we had identical senses of humor. We would stay up late debating,
          story-telling, and making each other laugh. Doug and I had a lot of adventures together that usually ended
          with him doing something ridiculous. One time Doug fell down a hill and broke a bone. Our friend ran to get
          his car to drive Doug to the hospital, and even though he was in a lot of pain, Doug flirted with every girl
          that walked past him.
        </p>
        <p>
          Today, Doug lives with his wife, Jen, in Massachusetts. Doug is an honest and loyal friend who I know I can
          always count on to support me no matter the circumstances. We have shared many great experiences and I am
          excited to have him join me as my groomsman.
        </p>
      </div>
    </div>

    <!-- Jessica -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomswoman</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/jessica.jpg" alt="Jessica and Jason">
        <h3 class="text-center">Jessica Parent</h3>
        <p>
          Jessica and I met when my parents brought her home from the hospital in 1986. Looking through photographs of
          us as children, I can see that we were very happy and close. During our teenage years, I teased her, and it
          was not until we were both approaching high school graduation that I really began to appreciate her. Since
          then, we have been inseparable. We have the same sense of humor, we listen to the same music, and even our
          personalities and ways of speaking are the same. Sometimes we communicate without speaking the way that only
          siblings can.
        </p>
        <p>
          Jessica possesses all of the strengths and qualities to which I aspire. She is resilient in the face of
          hardships. She is compassionate towards people who need it, and she is nurturing. She is creative and
          beautiful. My wedding party would not be complete without her because she is not only my sister, but she is
          also my best friend.
        </p>
      </div>
    </div>

  </div>
</div>