<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h1 class="text-center mbl">Events</h1>

    <!-- Day 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Friday, September 2, 2016</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">8:00 PM: Welcome Bar Night</h4>
          <p class="list-group-item-text">
            After the rehearsal dinner, the bride and groom will be grabbing drinks near the Hotel Monaco. We'd love for
            you to stop by! More details to follow&hellip;
          </p>
        </li>
      </ul>
      <!--<div class="panel-body">
        <img class="img-circle center-block" src="/static/carmines.jpg" alt="Carmine's restaurant exterior" width="120"
             height="120">
        <h3 class="text-center">Carmine's</h3>
        <p>
          Welcome bar night: After the rehearsal dinner, the bride and groom will be grabbing drinks near the Hotel
          Monaco around 8:00 PM. We'd love for you to stop by! More details to follow.
        </p>
      </div>-->
    </div>

    <!-- Day 2 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Saturday, September 3, 2016</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">5:00 PM: Wedding Ceremony</h4>
          <p class="list-group-item-text">
            Paris Ballroom, Hotel Monaco
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">5:30 PM: Cocktail Hour</h4>
          <p class="list-group-item-text">
            Athens Ballroom, Hotel Monaco
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">6:30 PM: Dinner and Dancing</h4>
          <p class="list-group-item-text">
            Paris Ballroom, Hotel Monaco
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">10:30 PM: After Party</h4>
          <p class="list-group-item-text">
            Clyde's of Gallery Place
          </p>
        </li>
      </ul>
      <!--<table class="table table-striped event-table">
        <tbody>
        <tr>
          <td>5:00 PM</td>
          <td>Paris Ballroom, Hotel Monaco</td>
          <td>Wedding Ceremony</td>
        </tr>
        <tr>
          <td>5:30 PM</td>
          <td>Athens Ballroom, Hotel Monaco</td>
          <td>Cocktail Hour</td>
        </tr>
        <tr>
          <td>6:30 PM</td>
          <td>Paris Ballroom, Hotel Monaco</td>
          <td>Dinner and Dancing</td>
        </tr>
        <tr>
          <td>10:30 PM</td>
          <td>Clyde's of Gallery Place</td>
          <td>After party</td>
        </tr>
        </tbody>
      </table>-->
    </div>

    <!-- Day 3 -->
    <!--<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Sunday, September 4, 2016</h4>
      </div>
      <div class="panel-body">
        <img class="img-circle center-block" src="/static/clydes.jpg" alt="Clyde's restaurant's exterior" width="120"
             height="120">
        <h3 class="text-center">Clyde's</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">10:00 AM: Brunch</h4>
          <p class="list-group-item-text">
            Details to follow...
          </p>
        </li>
      </ul>
      <table class="table table-striped event-table">
        <tbody>
        <tr>
          <td>10:00 AM</td>
          <td>Clyde's of Gallery Place</td>
          <td>Brunch</td>
        </tr>
        </tbody>
      </table>
    </div>-->

  </div>
</div>