<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <h1>The Couple</h1>
    <ul>
      <li>August 1984: Jason is born</li>
      <li>February 1985: Annie is born</li>
      <li>June 2002: Jason graduates from high school</li>
      <li>June 2003: Annie graduates from high school</li>
      <li>May 2006: Jason graduates from the University of Connecticut</li>
      <li>May 2007: Annie graduates from Dickinson College</li>
      <li>September 2007: Jason moves to Washington, DC</li>
      <li>September 2007: Annie moves to France</li>
      <li>Fall(?)2008: Annie and Jason meet at work</li>
      <li>March 2009: Annie and Jason attend CAL’s 50th Anniversary party at the Hotel Monaco</li>
      <li>April 2009: Annie and Jason officially start dating</li>
      <li>September 2010: Annie starts grad school at Georgetown (Jason learns to be very very patient)</li>
      <li>March 2012: Annie and Jason move into their first apartment together</li>
      <li>May 2012: Annie graduate from grad school (Jason breathes sigh of relief)</li>
      <li>December 2014: Annie and Jason move into their new house!</li>
      <li>December 2015: Jason pops the question on Tortola</li>
      <li>September 3, 2016: Jason and Annie seal the deal!</li>
    </ul>
  </div>
</div>