<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <ul class="timeline">
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">August 10, 1984</h4>
          </div>
          <div class="timeline-body">
            <p>Jason is born</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">February 27, 1985</h4>
          </div>
          <div class="timeline-body">
            <p>Annie is born</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">June 2002</h4>
          </div>
          <div class="timeline-body">
            <p>Jason graduates from high school</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">June 2003</h4>
          </div>
          <div class="timeline-body">
            <p>Annie graduates from high school</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">May 2006</h4>
          </div>
          <div class="timeline-body">
            <p>Jason graduates from UCONN</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">May 2007</h4>
          </div>
          <div class="timeline-body">
            <p>Annie graduates from Dickinson College</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">September 2007</h4>
          </div>
          <div class="timeline-body">
            <p>Jason moves to Washington, DC</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">September 2007</h4>
          </div>
          <div class="timeline-body">
            <p>Annie moves to France</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Fall 2008</h4>
          </div>
          <div class="timeline-body">
            <p>Annie and Jason meet at work</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">May 2009</h4>
          </div>
          <div class="timeline-body">
            <p>Annie and Jason attend CAL's 50th Anniversary party at the Hotel Monaco</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">April 2009</h4>
          </div>
          <div class="timeline-body">
            <p>Annie and Jason officially start dating</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">September 2010</h4>
          </div>
          <div class="timeline-body">
            <p>Annie starts grad school at Georgetown (Jason learns to be very very patient)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">March 2012</h4>
          </div>
          <div class="timeline-body">
            <p>Annie and Jason move into their first apartment together</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">May 2012</h4>
          </div>
          <div class="timeline-body">
            <p>Annie graduate from grad school (Jason breathes sigh of relief)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">December 2014</h4>
          </div>
          <div class="timeline-body">
            <p>Annie and Jason move into their new house!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning">
          <i class="glyphicon glyphicon-credit-card"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">September 2015</h4>
          </div>
          <div class="timeline-body">
            <p>Jason pops the question on Tortola</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">September 3, 2016</h4>
          </div>
          <div class="timeline-body">
            <p>Jason and Annie seal the deal!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
