<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <h1>The Party</h1>

    <div class="btn-group btn-group-justified mbm">
      <div class="btn-group">
        <button class="btn btn-default">Bridesmaids</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default">Groomsmen</button>
      </div>
    </div>

    <!-- Groomsmen -->

    <!-- Peter -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Best Man</h4>
      </div>
      <div class="panel-body">
        <img class="img-circle center-block" src="/static/no-image.jpg" alt="Carmine's restaurant exterior" width="120"
             height="120">
        <h3 class="text-center">Stefan "Peter" Wawzyniecki</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor felis, tincidunt eget faucibus quis,
          tristique eu dui. Sed semper elit sed leo dictum molestie. Suspendisse porttitor arcu non orci tincidunt,
          aliquam fringilla felis finibus. Mauris in eros non nisl viverra finibus. In non dui varius, auctor lacus sit
          amet, vehicula enim. Integer vitae elit urna. Quisque tincidunt urna id massa egestas euismod. Duis fermentum
          condimentum tellus eget convallis. Cras ultrices metus eget lectus vestibulum, eget lacinia turpis posuere.
          Proin id malesuada erat. Duis iaculis placerat interdum. Duis non nisi ultrices dui congue scelerisque ac sit
          amet lorem. Duis non nisl sit amet mi fringilla ultricies. Donec aliquam malesuada ex et pulvinar. Quisque
          efficitur, est nec posuere sollicitudin, quam justo pharetra dolor, id vestibulum sem felis at enim. Duis et
          risus et elit fringilla finibus id eget magna.
        </p>
      </div>
    </div>

    <!-- Tommy -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomsman</h4>
      </div>
      <div class="panel-body">
        <img class="img-circle center-block" src="/static/no-image.jpg" alt="Carmine's restaurant exterior" width="120"
             height="120">
        <h3 class="text-center">Jason "Tommy" Kennedy</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor felis, tincidunt eget faucibus quis,
          tristique eu dui. Sed semper elit sed leo dictum molestie. Suspendisse porttitor arcu non orci tincidunt,
          aliquam fringilla felis finibus. Mauris in eros non nisl viverra finibus. In non dui varius, auctor lacus sit
          amet, vehicula enim. Integer vitae elit urna. Quisque tincidunt urna id massa egestas euismod. Duis fermentum
          condimentum tellus eget convallis. Cras ultrices metus eget lectus vestibulum, eget lacinia turpis posuere.
          Proin id malesuada erat. Duis iaculis placerat interdum. Duis non nisi ultrices dui congue scelerisque ac sit
          amet lorem. Duis non nisl sit amet mi fringilla ultricies. Donec aliquam malesuada ex et pulvinar. Quisque
          efficitur, est nec posuere sollicitudin, quam justo pharetra dolor, id vestibulum sem felis at enim. Duis et
          risus et elit fringilla finibus id eget magna.
        </p>
      </div>
    </div>

    <!-- Jim -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomsman</h4>
      </div>
      <div class="panel-body">
        <img class="img-circle center-block" src="/static/no-image.jpg" alt="Carmine's restaurant exterior" width="120"
             height="120">
        <h3 class="text-center">James Barna</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor felis, tincidunt eget faucibus quis,
          tristique eu dui. Sed semper elit sed leo dictum molestie. Suspendisse porttitor arcu non orci tincidunt,
          aliquam fringilla felis finibus. Mauris in eros non nisl viverra finibus. In non dui varius, auctor lacus sit
          amet, vehicula enim. Integer vitae elit urna. Quisque tincidunt urna id massa egestas euismod. Duis fermentum
          condimentum tellus eget convallis. Cras ultrices metus eget lectus vestibulum, eget lacinia turpis posuere.
          Proin id malesuada erat. Duis iaculis placerat interdum. Duis non nisi ultrices dui congue scelerisque ac sit
          amet lorem. Duis non nisl sit amet mi fringilla ultricies. Donec aliquam malesuada ex et pulvinar. Quisque
          efficitur, est nec posuere sollicitudin, quam justo pharetra dolor, id vestibulum sem felis at enim. Duis et
          risus et elit fringilla finibus id eget magna.
        </p>
      </div>
    </div>

    <!-- Doug -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomsman</h4>
      </div>
      <div class="panel-body">
        <img class="img-circle center-block" src="/static/no-image.jpg" alt="Carmine's restaurant exterior" width="120"
             height="120">
        <h3 class="text-center">James "Doug" Fullam</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor felis, tincidunt eget faucibus quis,
          tristique eu dui. Sed semper elit sed leo dictum molestie. Suspendisse porttitor arcu non orci tincidunt,
          aliquam fringilla felis finibus. Mauris in eros non nisl viverra finibus. In non dui varius, auctor lacus sit
          amet, vehicula enim. Integer vitae elit urna. Quisque tincidunt urna id massa egestas euismod. Duis fermentum
          condimentum tellus eget convallis. Cras ultrices metus eget lectus vestibulum, eget lacinia turpis posuere.
          Proin id malesuada erat. Duis iaculis placerat interdum. Duis non nisi ultrices dui congue scelerisque ac sit
          amet lorem. Duis non nisl sit amet mi fringilla ultricies. Donec aliquam malesuada ex et pulvinar. Quisque
          efficitur, est nec posuere sollicitudin, quam justo pharetra dolor, id vestibulum sem felis at enim. Duis et
          risus et elit fringilla finibus id eget magna.
        </p>
      </div>
    </div>

    <!-- Jessica -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Groomswoman</h4>
      </div>
      <div class="panel-body">
        <img class="img-circle center-block" src="/static/no-image.jpg" alt="Carmine's restaurant exterior" width="120"
             height="120">
        <h3 class="text-center">Jessica Parent</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tortor felis, tincidunt eget faucibus quis,
          tristique eu dui. Sed semper elit sed leo dictum molestie. Suspendisse porttitor arcu non orci tincidunt,
          aliquam fringilla felis finibus. Mauris in eros non nisl viverra finibus. In non dui varius, auctor lacus sit
          amet, vehicula enim. Integer vitae elit urna. Quisque tincidunt urna id massa egestas euismod. Duis fermentum
          condimentum tellus eget convallis. Cras ultrices metus eget lectus vestibulum, eget lacinia turpis posuere.
          Proin id malesuada erat. Duis iaculis placerat interdum. Duis non nisi ultrices dui congue scelerisque ac sit
          amet lorem. Duis non nisl sit amet mi fringilla ultricies. Donec aliquam malesuada ex et pulvinar. Quisque
          efficitur, est nec posuere sollicitudin, quam justo pharetra dolor, id vestibulum sem felis at enim. Duis et
          risus et elit fringilla finibus id eget magna.
        </p>
      </div>
    </div>

  </div>
</div>