<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <h1 class="text-center mbl">Party</h1>

    <p>
      There are many people in our lives that are special to us; we've selected these individuals to stand with us as
      we say "I do".
    </p>

    <div class="btn-group btn-group-justified mbm">
      <div class="btn-group">
        <a class="btn btn-default" ui-sref-active="active" ui-sref=".bridesmaids">Bridesmaids</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-default" ui-sref-active="active" ui-sref=".groomsmen">Groomsmen</a>
      </div>
    </div>

    <div ui-view></div>

  </div>
</div>