<div class="row">
  <div class="col-lg-12">

    <!-- Larkin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Maid of Honor</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/larkin.jpeg" alt="Larkin and Annie">
        <h3 class="text-center">Larkin Jones</h3>
        <p>
          After our first kindergarten play date, Mom asked if I wanted Larkin to come back to play again, and it’s a
          good thing moms don’t do what 5-year-olds say, because I said no. Despite my early opposition, we’ve been best
          friends since, surviving the agony of going to different high schools (j/k&hellip; it just meant that we had
          an extra homecoming to go to and two sets of friends), college apart (like in high school, this really just
          meant more parties and two sets of friends), and Larkin's years serving at sea, in Bahrain, and Naples.
          Happily, she’s back in DC (where I plans to find a way to keep her&hellip;)
        </p>
      </div>
    </div>

    <!-- Caitlin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Matron of Honor</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/caitlin.jpeg" alt="Caitlin and Annie">
        <h3 class="text-center">Caitlin Murphy Danberg</h3>
        <p>
          Caitlin and I lived on the same floor freshman year of college, and we stuck like glue (or Siamese twins…
          which we dressed as for a costume party once). By sophomore year we worked together in the Dickinson mailroom,
          lived
          together, and had the same double major, so we shared most of our classes, too. Junior year took both of us to
          Toulouse, France for the year to share the challenges of living abroad and joys of traveling with the perfect
          travel companion (to date Caitlin and I have been to France, Spain, Italy, England, Morocco, Japan, Hungary,
          and Slovakia together… more to come!). Since graduation, we sadly have not been able to live together again
          (Jason and Caitlin’s husband seem to think that would be weird?) but luckily, she is right across the bridge
          in Arlington!
        </p>
      </div>
    </div>

    <!-- Megan -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Bridal Party</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/meagan.jpeg" alt="Megan and Annie">
        <h3 class="text-center">Megan Sheahan</h3>
        <p>
          Megan is another Calvert County girl, and we went to middle and high school together. If there was a dance at
          Calvert High, chances were good that we were both in the gym pretending that overpriced cardboard decorations
          would bring a ridiculous theme (e.g. Whispers of the Orient, When Dreams Come True) to life. In true cool-kid
          form, we bonded over mandatory (but loved-by-all) “Meet the Press” watching parties, being lured into skipping
          school together, and the epic quantity of snow days we were rewarded with our senior year of high school. In
          the years since, Megan has been a valued confidant and advisor, whether living in Michigan, California,
          New York, or Massachusetts.
        </p>
      </div>
    </div>

    <!-- Breanna -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Bridesmaid</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/breanna.jpeg" alt="Breanna and Annie">
        <h3 class="text-center">Breanna Gallagher</h3>
        <p>
          Breanna and I met in 2007 when we were both randomly dropped in the bustling metropolis* of Challans, France
          in the modern and sophisticated department of the Vendée**. I taught at the middle school and shared an
          apartment with the middle-aged principal, she taught at the high school and lived with a strange Mexican man.
          Without each other neither of us would have lasted, but thankfully we found each other and became each other’s
          lifeline and adventure partner. In the years since, we’ve been lucky enough to spend three years living in
          the same city, and now that she’s back in Seattle, Jason and I just have another reason to visit the
          Pacific Northwest!
        <p>
        </p>
          <sup>* This is sarcasm, it is the opposite of a bustling metropolis</sup>
          <br>
          <sup>
            ** Also sarcasm. The jokes goes, “What do you do if you want to travel back in time 50 years?”
            “You go to the Vendée!”
          </sup>
        </p>
      </div>
    </div>

    <!-- Katie -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-center">Bridesmaid</h4>
      </div>
      <div class="panel-body">
        <img class="center-block center-cropped" src="/static/katie.jpeg" alt="Katie and Annie">
        <h3 class="text-center">Katie Krische</h3>
        <p>
          As my older sister, Katie has doubtless known me the longest out of all of the bridal party. Over the years
          we’ve turned into a city mouse and country mouse (so says our mother), as I’ve made Washington, DC my home,
          and Katie has settled into farm life first in Kentucky and now Tennessee, as her childhood obsession with
          horses has blossomed into a career or horse breeding, livestock raising, and egg collecting. While I may wear
          the trappings of a city mouse, I am always delighted to have a good reason to roll in the mud with the puppies
          and hop on a pony in the country! She may be far away now but I love my visits to Katie and Tom in Tennessee
          and am thrilled she’s a part of the bridal party.
        </p>
      </div>
    </div>

  </div>
</div>