<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
    <h1>The Location</h1>
    <p>
      The wedding and all related events will take place in the vibrant Penn Quarter neighborhood of Washington, DC. The
      neighborhood is very walkable and mere blocks from the Chinatown/Gallery Place metro station and from Metro
      Center.
      For your convenience, we’ve reserved a room block at the venue, the Hotel Monaco, but there are also many other
      hotels accessible to the area.
    </p>
    <h2>Travel</h2>
    <p>
      Washington National Airport (DCA) is the most convenient airport to the city. It is connected directly by the
      Metro’s yellow line to the Chinatown/Gallery Place metro station.<br><br>
      Baltimore/Washington International Airport (BWI) is linked to downtown Washington, DC by both
      <a href="http://www.bwiairport.com/en/travel/ground-transportation/trans/wmata">Metro bus</a> and
      <a href="http://www.bwiairport.com/en/travel/ground-transportation/trans/marc">MARC</a>/
      <a href="http://www.bwiairport.com/en/travel/ground-transportation/trans/Amtrak">AMTRAK</a> trains.
      Washington Dulles Airport (IAD) is linked to downtown Washington, DC by the
      <a href="http://www.flydulles.com/iad/silver-line-express-bus-metrorail-station">Silver Line Express bus</a> and
      <a href="http://www.wmata.com/bus/timetables/view.cfm?line=49">Metro bus line 5A</a>
    </p>
    <h2>Accommodations</h2>
    <p>
      A room block has been reserved at the Hotel Monaco for a discounted rater of $219 per night for Friday, September
      2 and Saturday, September 3. To book [do stuff].
    </p>
    <p>
      Pro tip: Join Kimpton’s guest loyalty program before your visit to receive complimentary wifi access and a welcome
      gift
    </p>
    <h2>Transportation within Washington, DC</h2>
    <p>
      Getting around Washington, DC without a car is easy and efficient. We recommend using
      <a href="http://www.wmata.com/">Metro</a> and <a href="https://www.uber.com/cities/washington-dc">Uber</a>, and
      walking while in Washington, DC.
    </p>
    <p>
      Pro tip: New to Uber? We’ve set up a new user promo code through Uber Weddings. Apply promocode to get $20 off
      your first ride (note: In DC, you would need to be going pretty far to use up $20)
    </p>
  </div>
</div>